package main

var red = "#ff0000"
var blue = "#0000ff"

css navBar() {
	list-style-type: none; 
    margin: 0;
	padding: 0;
}

css primaryClassName() {
	background-color: #ffffff;
	color: { red };
}

css className() {
	background-color: #ffffff;
	color: { blue };
}
